doctype html
html
  head
    title= "meta.dating 2019: BOTIFY!"
    meta(charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/scss/style_admin.css')


  body
    div.grid-container
      nav
        div.header
          img(src="/images/bot_login.png", alt="botify").header-img-logo
          a(href="/logout") logout
          a(href="/bots") zu den Bots
        
        menu
          each bots in bot_query  
            - var url = bots.image_path 
            div.botdocument.clickable(style="background-image: url("+bots.image_path+");").menu-img--bots
              //- img(src=url alt="no picture" id = 'img_'+bots._id ).menu-img-bot
              p.show_name.hidden #{bots.name}
              p.show_description.hidden #{bots.description}
              p.show_image_path.hidden #{bots.image_path} 
              p.show_workspace_id.hidden #{bots.workspace_id}
              p.show_iam_apikey.hidden #{bots.iam_apikey}
              p.show_document_id.hidden #{bots._id}
              p.show_is_public.hidden #{bots.isPublic}
              p.show_pic.hidden #{bots.image_path}

          div(onclick="showAdd()").menu-div--add
            a +

        

    
      main
        div.main-form--section
          div.main-form--box
            div.main-form--img
              form(action='/update/imgupload' enctype='multipart/form-data' method='post').imgupload
                img(id = "imgupload" alt="no picture").imgClicked
                input(type='file' id='upload' name='upload' onchange="this.form.submit()").input.hidden
                input.showDocumentID(type='text' id='_id' name='_id').input.hidden
            
            div.main-form--credentials
              //-Update der Credentials
              form(action='/update' method='post').update.main-form--credentials_form
                input.updateName(type='text' id='name' name='name' placeholder = "Name").main-form--name
                input.updateIsPublic(type = "text" id="isPublic" name="isPublic").main-form--isPublic
                input.updateDescription(type='textarea' id='description' name='description' rows="10" cols="30").main-form--description
                input.updateWorkspaceID(type='text' id='workspace_id' name='workspace_id').main-form--workspace_id
                input.updateIamApikey(type='text' id='iam_apikey' name='iam_apikey').main-form--iam_apikey
                input.showDocumentID(type = "text" id = "_id" name = "_id").hidden 
                button(type='submit').main-form--update Update

              //-Delete-Section des Bots
              form(action='/delete' method='post').delete
                input.updateDocumentID(type = "text" id = "_idBot" name = "_idBot").hidden 
                p(id="deleteBotButton").form--delete-bot Löschen
                button(type='submit' id="confirmButton" ).hidden Erneut klicken zum Bestätigen
              
          div.hidden
            form.form--admin(action='/admin/newbot'  method='post')
              input(type='text' id='name' name='name' placeholder = "Name" )
              div
                select(id='isPublic' name='isPublic')
                  option(id='isPublic' value='true') öffentlich
                  option(id='isPublic' value='false') verborgen
              input(type='text' id='description' name='description' placeholder = "Description")
              input(type='text' id='workspace_id' name='workspace_id' placeholder = "Workspace-ID")
              input(type='text' id='iam_apikey' name='iam_apikey' placeholder = "IAM_Apikey" )
              button(type='submit') Hinzufügen