doctype html
html
  head
    title= "meta.dating 2019: BOTIFY!"
    meta(charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/css/style_admin.css')


  body
    div.header
      img(onclick="window.location.href='/'" src="/images/bot_login.png").header-logo--img
    div.header-profile
      h1.header-a--logout(href="/logout") Logout
    div.header-border
    
    nav
      ul
        each bots in bot_query  
          - var url = bots.image_path 
          li
            a.sidenav-a(href="#section-"+ String(bots._id))
              img.sidenav--img(src=url alt="no picture" id = 'img_'+bots._id )
              h1.sidenav-h1 #{bots.name}
      

  

    main
      each bots in bot_query  
          - var url = bots.image_path 
          section(id="section-"+String(bots._id))
            img(src=url alt="no picture" height = "200" width="200" id = 'img_'+bots._id )
            form.form--admin(action='/update' method='post').update
              input(type='text' id='name' name='name' placeholder = "Name" value=bots.name)
              br
              input(type='textarea' id='description' name='description' rows="10" cols="30" value=bots.description)
              br
              input(type='text' id='workspace_id' name='workspace_id' value = bots.workspace_id)
              input(type='text' id='iam_apikey' name='iam_apikey' value = bots.iam_apikey)
              br
              input(type = "text" id="isPublic" name="isPublic" value = bots.isPublic)
              br
              input(type = "text" id = "_id" name = "_id" value = bots._id).hidden 
              button(type='submit').form--button-bot Bot updaten

script(src='/scripts/nav.js')
        

